html 
{
    background: #2d2d2d;
    color: #d8d8d8;
    /* background-image: linear-gradient(270deg, rgb(45, 45, 45) 0%, rgb(45, 45, 45) 100%);
    -webkit-font-smoothing: antialiased; */
}

body 
{
    font-family: 'Nunito', sans-serif;
    text-align: center;
    /* font-size: 1em; */
}

a 
{
    color: unset;
}

strong 
{
    font-weight: 600;
}

img {
    border-radius: 25px;
}

#mistyLogo
{
    width: 140px;
    height: 140px;
}

section
{
    margin-top: 40px;
    margin-bottom: 40px;
}

h2, .zone-break
{
    background-color: #d8d8d8;
    color: #2d2d2d;
    padding: 5px;
    
    /* width: 800px;
    max-width: 800px;
    display: inline-block;
    
    justify-content: center; */
    margin-left: -8px;
    margin-right: -8px;
}

.gamesContainer
{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: auto;
    max-width: 800px;
    margin: auto;
    margin-top: 40px;
}

.gameDesc
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    margin-right: -10px;
}
.gameDesc h3, .gameDesc p
{
    margin: 0;
}

article
{
    border-radius: 20px;
    height: 125px;
    width: 280px;
    background-color:whitesmoke;
    color: #2d2d2d;
    margin-bottom: 20px;
    padding: 20px;
    display: flex;
    flex-wrap: nowrap;
}
article img
{
    max-width: 125px;
    max-height: 125px;
}

hr
{
    margin-top: 15px;
    margin-bottom: 15px;
    max-width: 800px;
}

footer
{
    display: flex;
    flex-direction: column;
}
footer a
{
    margin-bottom: 8px;
}