html {
    background: #2d2d2d;
    background-image: linear-gradient(270deg, rgb(45, 45, 45) 0%, rgb(45, 45, 45) 100%);
    -webkit-font-smoothing: antialiased;
}

body {
    background: #2d2d2d;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #d8d8d8;
    font-family: 'Nunito', sans-serif;;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 800px;
    padding: 2em 2em 4em;
}

h1, h2, h3, h4, h5, h6 {
    color: #d8d8d8;
    font-weight: 600;
    line-height: 1.3;
    text-align: center;
}

h2 {
    margin-top: 1.3em;
}

p {
    text-align: center;
}

a {
    color: #d8d8d8;
}

b, strong {
    font-weight: 600;
}

samp {
    display: none;
}

img {
    animation: colorize 1s ease-in 1;
    background: transparent;
    display: block;
    margin: 1.3em auto;
    max-width: 95%;
}


@keyframes colorize {
    0% {
        -webkit-filter: opacity(0%);
        filter: opacity(0%);
    }
    100% {
        -webkit-filter: opacity(100%);
        filter: opacity(100%);
    }
}
